<ion-view style="background-color: rgba(40,30,30,0.08);" view-title="GorillaDesk Sign up">

    <ion-header-bar style="background-color: #111;" >
        <h3 class="title" style="text-align: center;color: white"><strong  >GorillaDesk Sign up</strong></h3>
    </ion-header-bar>
    <ion-content>
        <center>

            <div  style="background-color: white; width: 95%;margin-top: 8px" class = "list">

                <div class="row">
                    <input class="{{firstname}}" style="border-bottom:  1px solid rgb(191, 191, 191);width: 40%" type = "text" placeholder = "First Name" ng-model="data.firstname" required />
                    
                    <div class="col"></div >       
                    <input class="{{lastname}}" style="border-bottom:  1px solid rgb(191, 191, 191);width: 40%" type = "text" placeholder = "Last Name" ng-model="data.lastname" required />
                   
                </div>

                <div  class = "row">  
                    <input class = "row {{email}}" style="border-bottom:  1px solid rgb(191, 191, 191);" type = "email" placeholder = "Email" ng-model="data.email" required />
                    
                </div>

                <div class ="row">
                    <input class="{{username}}" style="border-bottom:  1px solid rgb(191, 191, 191);width: 40%" type = "text" placeholder = "Username" ng-model="data.username" required />
                   
                    <div class="col"></div >
                    <input class="{{password}}" style="border-bottom:  1px solid rgb(191, 191, 191);width: 40%" type = "password" minlength="7" placeholder = "Password" ng-model="data.password" required />
                   
                </div>


                <div  class = "row">
                    <input class = "row {{companyname}}" style="border-bottom:  1px solid rgb(191, 191, 191);"  type = "text" placeholder = "Company Name" ng-model="data.companyname" required />
                 
                </div>  
                <div ng-if="error" style="height: 30px;padding-top: 4px"> <a style="color: #642f96">{{error}}</a></div>
            </div>
        </center>
        <center>
            <button  style="background-color: #642f96;width: 95%" type="submit" class = "button button-positive  button-small button-block button-balanced" ng-click="save()">
                Continue
            </button>
        </center>
    </ion-content>       
</ion-view>
